table{
  border-collapse: collapse;
  width: 600px;
}

th, td{ border: none; }

th{
background-color: #000;
color: #fff;
}

tr:nth-of-type(even){
background-color: #F3F3F3;
}

tr:nth-of-type(odd) {
background-color:#ddd;
}
