@(title: String, companyList: List[Company])

<!DOCTYPE html>

<html  lang="en" ng-app="AngularPlay2App">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">     
    </head>
    <body ng-controller="AppController">
       <div>
          What is your name?
          <input type="text" ng-model="greeter.name"> 
       </div>
       <div>
          {{greeter.greeting()}} 
       </div>
       <div>
         <h4>Companies(Preview)</h2>
         <table>
           <thead><th>ID</th><th>Name</th></thead>
           <tbody>
            @for( company <- companyList ) {
            <tr>
                <td>@company.id</td>
                <td>@company.name</td>
            </tr>
            }
        </tbody>
    </table>
       </div>
    </body>
    <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angularapp.js")" type="text/javascript"></script>
</html>
